* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: blue;
}

h1 {
    color: blue;
    font: bold 15px "Lucida Grande", Verdana, sans-serif;
    text-align: center;
}

#team {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.teamPlayer {
    display: flex;
    justify-content: center;
    border: black solid 1px;
    border-radius: 10px;
    background: lightgray;
    height: 100px;
}

#searchBox {
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightgray;
    border: white solid 1px;
    border-radius: 10px;
    width: 100%;
    flex-direction: column;
    padding: 20px;
}

select, #searchBtn {
    width: 100%;
    margin-bottom: 10px;
}

span {
    background-color: black;
    color: white;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 5px;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
    width: auto;
}


tr:hover {
    background-color: #f5f5f5;
}

#addButton {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#addButton:hover {
    background-color: #45a049;
}