*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: blue;
}
h1{
    color: blue;
    font: bold 15px "Lucida Grande", Verdana, sans-serif;
    text-align: center;
}
#team{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.teamPlayer{
    display: flex;
    justify-content: center;
    border: black solid 1px;
    border-radius: 10px;
    background: lightgray;
    height: 100px;
}
#searchBox{
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightgray;
    border: white solid 1px;
    border-radius: 10px;
    width: 100%;
    flex-direction: column;
}
select, #searchBtn{
    width: 100%;
}
table{
    width: 100%;
}
thead {
    display: flex;
    background-color: red;
    width: 100%;
}
th, tr {
    padding: 10px;
    text-align: center;
    border: 1px solid white;
    width: 100vh;
}
span{
    background-color: black;
    color: white;
    width: fit-content;
    padding: 5%;
    border-radius: 5px;
}